<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  El acceso ODBC con la base de datos -->
    <add key="CadenaConexion" value="Server=127.0.0.1;Port=3305;Database=pymsolutions-4325255;Uid=pymsolutions4325;Pwd=pym4325255;" />

    <!--  Ruta del fichero de Logs -->
    <add key="rutaLog" value="E:\Temporales\Logs\" />
    <!--  Nivel de log, 0 - Todo, 1 - Debug y Error, 2 - Solo errores -->
    <add key="tipoLog" value="1" />
  </appSettings>
</configuration>